.form-control {
    display: flex;
    /* margin: 1rem 3rem 1rem 4rem; */
    padding: 1.5rem  ;
    width: 40%;
    
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;

}

.input-group {
    display: flex;
    margin: 1rem 3rem 1rem 4rem;
    padding: 3rem;
}

.input-group-prepend {
    margin-left: 17rem;
}

.input-group-text {
    margin-right: 4rem;
    font-size: 17px;
    /* margin-bottom: 3rem; */
}

.input-group-append {
    margin-left: 4rem;
}